.time5 {
  width: 50px;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.forgot,
.password {
  margin: 0;
}
.forgot-password1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 43px;
  font-weight: 700;
  font-family: inherit;
}
.forgot-password-text,
.time-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.forgot-password-text {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-4xs);
  text-align: left;
  font-size: var(--font-size-17xl);
  font-family: var(--font-montserrat);
}
.time-parent1 {
  width: 212px;
  flex-direction: column;
  gap: 30px 0;
}
.cellular-connection-icon5,
.wifi-icon5 {
  height: 10.7px;
  width: 17px;
  position: relative;
}
.wifi-icon5 {
  height: 11px;
  width: 15.3px;
  min-height: 11px;
}
.border5,
.cap-icon5 {
  position: absolute;
  mix-blend-mode: normal;
}
.border5 {
  height: 100%;
  top: 2.65%;
  right: 2.3px;
  bottom: -2.65%;
  border-radius: 2.67px;
  border: 1px solid var(--shades-of-black-black);
  box-sizing: border-box;
  width: 22px;
  opacity: 0.35;
}
.cap-icon5 {
  height: 35.4%;
  top: 35.4%;
  right: 0;
  bottom: 29.2%;
  max-height: 100%;
  width: 1.3px;
}
.capacity5 {
  position: absolute;
  height: 64.6%;
  top: 20.35%;
  right: 4.3px;
  bottom: 15.04%;
  border-radius: 1.33px;
  background-color: var(--shades-of-black-black);
  width: 18px;
  z-index: 1;
}
.battery5 {
  height: 11.3px;
  width: 24.3px;
  position: relative;
}
.cellular-connection-container {
  height: 11px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 5px;
}
.cellular-connection-container,
.frame-parent5,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.frame-parent5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--shades-of-black-black);
  font-family: var(--font-poppins);
}
.enter-your-email-address-child {
  height: 55px;
  width: 317px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  display: none;
}
.mail-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.enter-your-email {
  width: 152px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 15px;
  position: relative;
  color: var(--color-dimgray-100);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.enter-your-email-address {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-smi) var(--padding-sm);
  gap: 7px;
}
.we-will-send {
  color: var(--color-dimgray-100);
}
.we-will-send-container {
  width: 282px;
  height: 48px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.submit {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
}
.mail-submit-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-2xl) var(--padding-base)
    var(--padding-xl);
  background-color: var(--color-crimson);
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.enter-email-address-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px 0;
}
.enter-email-address-frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 var(--padding-5xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-orangered);
  font-family: var(--font-montserrat);
}
.forgot-password {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-sm) 421px var(--padding-2xl);
  box-sizing: border-box;
  gap: 32px 0;
}
